/*  your css code here. If applicable */
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

img {
	width: 250px;
	height: 150px;
	object-fit: cover;
}
button {
	padding: 10px;
	background-color: red;
	color: white;
	border-radius: 8px;
}

.hero > div {
	text-align: center;
	padding: 12px;
}